.evaluateVideoArea {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}


.evaluateVideo {
    position: relative;
    width: 260px;
    height: 350px;
    float: left;
    margin: 20px 10px;
    color: #888;
}

.evaluateVideoImgArea {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    background: #888;
    box-sizing: border-box;
    overflow: hidden;
}

/* evaluateHover */
.evaluateHover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
}

.evaluateHover .evaluateVideoTitle {
    color: white;
    font-size: 20px;
}

.evaluateHover .evaluateReleaseYear {
    color: inherit;
    font-size: 20px;
}

/* star */
.evaluateHover p.star {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    padding-bottom: 10px;
    text-align: center; 
    font-size: 45px;
}
.evaluateHover p.star a {
    position: relative;
    color: #888;
}
.evaluateHover p.star a:after {
    content: '★'; 
    color: #ffcc00; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 0; 
    overflow: hidden;
}
.evaluateHover p.star a.half:after {width: 50%;}
.evaluateHover p.star a.full:after {width: 100%;}



/* hover */
.evaluateVideoImgArea:hover .evaluateHover {
    opacity: 1;
    transition: all 0.4s;
}

/* click */
.evaluateHover.clickMode {
    display: block;
}