/* marvel */
.marvelArea {
    position: relative;
    float: left;
    width: 100%;
    height: 1400px;
  }
  
  .marvelImg {
    float: left;
    margin: 20px 0 50px;
    width: 100%;
    height: 150px;
    background: url('../img/marvel/marvel.png') no-repeat center/100% 150px;
  }
  
  .youtubeOverlay {
    position: absolute;
    top: 220px;
    z-index: 1;
    width: 100%;
    height: 600px;
    background: rgba(18,18,18,0.1);
  }
  
  .youtubeArea {
    position: relative;
    z-index: 0;
    width: 1400px;
    height: 600px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .youtubeArea iframe {
    position: absolute;
    top: -700px;
    left: -100px;
  }
  
  /* marvelMenubar */
  .marvelMenubar {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 320px;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .marvelMenubar .menuImg {
    float: left;
    width: 1000px;
    height: 100%;
    background: url('../img/marvel/marvelstudios.png');
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .marvelMenubar .menuLeft,
  .marvelMenubar .menuRight {
    width: 200px;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .marvelMenubar .menuLeft {
    float: left;
  }
  
  .marvelMenubar .menuRight {
    float: right;
  }
  
  .marvelMenubar .marvelMenu {
    background: #0f0000;
    width: 100%;
    height: 80px;
    border: 0;
    line-height: 80px;
    box-sizing: border-box;
  }
  
  
  
  
  /* marvelVideoArea */
  .marvelVideoArea {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 1400px;
    height: 200px;
    box-sizing: border-box;
  }
  
  /* marvelPreview */
  .marvelPreview {
    display: none;
    position: relative;
    float: left;
    margin-right: 20px;
    width: 260px;
    height: 160px;
    border: 4px solid transparent;
    background: yellow;
    box-sizing: border-box;
  }
  
  .marvelPreview > i {
    display: none;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 65px;
    text-align: center;
    line-height: 160px;
    cursor: pointer;
  }

/* hover-marvel */
.marvelPreview:hover i {
    display: block;
}
  
.marvelMenu:hover {
    cursor: pointer;
    text-decoration: underline;
}
