/* modal */
.paymentModal {
    display: none;
    position: fixed; 
    overflow: auto;
    z-index: 6; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.8); 
  }
  
  .modalContent {
    position: relative;
    width: 500px;
    height: 650px;
    background: white;
    border-radius: 15px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    margin: auto;
    padding: 40px 70px;
    font-weight: 100;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .modalContent > h2 {
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
  }
  
  .modalContent > p {
    color: #646464;
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .modalContent > p:nth-child(2)
  {
    font-size: 17px;
    color: rgb(204, 204, 204);
  }
  
  .modalContent hr {
    margin: 20px 0;
    border: 1px solid rgb(204, 204, 204);
  }
  
  .modalContent i {
    font-size: 25px;
    margin-right: 20px;
  }
  
  .modalContent .fa-mobile-alt {
    margin-left: 5px;
  }
  
  .modalContent h3 {
    margin: 20px 0 10px;
    font-size: 16px;
  }
  
  /* basicTicket */
  .modalContent .basicTicket {
    position: relative;
    width: 500px;
    border: 3px solid rgb(236, 236, 236);
    box-sizing: border-box;
    padding: 10px 0 0;
    margin: 0 auto;
  }
  
  .basicTicket > p {
    margin: 5px 15px;
    font-size: 15px;
  }
  
  .basicTicket > p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
  }
  
  .basicTicket > p:nth-child(3) {
    margin: 20px 0 0;
    padding: 10px 15px;
    background: rgb(245, 245, 245);
  }
  
  .basicTicket > p:nth-child(4),
  .basicTicket > p:nth-child(5) {
    position: absolute;
    right: 5px;
    top: 10px;
    color: rgb(2, 175, 132);
    font-weight: bold;
    font-size: 20px;
  }
  
  .basicTicket > p:nth-child(5) {
    right: 5px;
    top: 30px;
    font-size: 16px;
    font-weight: normal;
  }
  
  /* hightTicket */
  .modalContent .highTicket {
    position: relative;
    margin: 20px auto 0;
    width: 500px;
    border: 3px solid rgb(236, 236, 236);
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 0 0;
    
  }
  
  .highTicket > p {
    margin: 5px 15px;
    font-size: 15px;
  }
  
  .highTicket > p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
  }
  
  .highTicket > p:nth-child(3) {
    margin: 20px 0 0;
    padding: 10px 15px;
    background: rgb(245, 245, 245);
  }
  
  .highTicket > p:nth-child(4),
  .highTicket > p:nth-child(5) {
    position: absolute;
    right: 5px;
    top: 10px;
    color: rgb(2, 175, 132);
    font-weight: bold;
    font-size: 20px;
  }
  
  .highTicket > p:nth-child(5) {
    right: 5px;
    top: 30px;
    font-size: 16px;
    font-weight: normal;
  }
  
  
  #btnCloseModal {
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgba(0,0,0,0.7);
    font-size: 40px;
    cursor: pointer;
  }