/* slideArea */
.slideArea {
    display: none;
    position: relative;
    width: 100%;
    height: 570px;
    padding-top: 60px;
    overflow: hidden;
  }

  .slideArea .bgGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/bgGradient.png') no-repeat top center/100%;
  }
  
  .slideArea > .slideEle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
  }
  
  /* contentInfo */
  .contentInfo {
    position: absolute;
    left: 0;
    bottom: 60px;
    color: white;
  }
  
  .contentInfo > h2 {
    margin: 20px 0;
    font-size: 40px;
  }
  
  .contentInfo p {
    padding: 10px 0;
  }
  
  .contentInfo .ratingLabel {
    border: 2px solid white;
    background: black;
    float: left;
    font-weight: bold;
    padding: 6px;
  }
  
  .contentInfo .ratingValue {
    border: 2px solid white;
    background: white;
    color: black;
    float: left;
    font-weight: bold;
    padding: 6px;
  }
  
  .contentInfo .rating {
    margin: 2px 10px;
    color: #888;
    font-weight: bold;
    line-height: 35px;
  }
  
  .contentInfo .synopsis {
    width: 550px;
    color: #888;
    font-size: 20px;
    line-height: 30px;
  }
  
  /*btnBox*/
  .btnBox {
    z-index: 4;
    width: 550px;
    margin: 10px 0 30px;
  }
  
  .btnBox .btnPlay {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #ff0062;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 50px;
  }
  
  .btnBox .btnBox i {
    margin: 0 5px;
  }
  
  .btnBox .btnWish,
  .btnBox .nop {
    width: 130px;
    height: 50px;
    line-height: 50px;
    color: #888;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    margin-left: 30px;
    border: 0;
  }

  .slidePrev, .slideNext {
      position: absolute;
      top: 50%;
      font-size: 50px;
      color: rgba(255,255,255,0.5);
      display: none;
  }

  .slidePrev {
      left: 7%;
  }

  .slideNext {
    right: 7%;
  }

  .slideArea:hover .slidePrev,
  .slideArea:hover .slideNext {
    display: block;
  }

  .slidePrev:hover,
  .slideNext:hover {
    color: rgba(255,255,255,0.9);
    cursor: pointer;
  }

  /* youtube */
  #_youtube-iframe {
    position: absolute;
    z-index: 100;
    width: 1000px;
    height: 600px;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }