@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #121212;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/* header */
header {
  width: 100%;
  height: 660px;
  position: relative;
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-size: 18px;
}


/* scrollbar customizing */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(18,18,18,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: red;
outline: 1px solid slategrey;
}
/* //scrollbar customizing */


/* hover */




/* test */

.test {
  color: white;
}